name: Run Benchmarks

on:
  pull_request:
  workflow_dispatch:

jobs:
  run_benchmarks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.5
          extensions: mbstring, pcntl, fileinfo, zip

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction --ignore-platform-reqs

      # Validate in the action so that we have instant failure
      - name: Validate Solution
        run: php ./tempest data:validate

      # Running the benchmark on the server
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          known_hosts: "just-a-placeholder-so-we-dont-get-errors"

      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Storing branch name
        run: branch=$(git symbolic-ref --short HEAD)

      - name: Checkout code on server
        run: ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd ~/benchmark && git pull origin && git checkout ${{ branch }}"

      - name: Run benchmark
        run: ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd ~/benchmark && php tempest data:parse"